.main-banner {
    color: var(--neutral-100);
    font-size: .938rem;
    text-align: center;
    letter-spacing: .016rem;
    line-height: 1.75;
    padding: 1.11rem 3rem;
    margin-block: 2.94rem 1.4rem;
    background: var(--secondary-color-500);
    border-radius: .625rem;
    box-shadow: 0 .5rem 0 0 hsl(0, 0%, 0%, .15);
}
