.main-wrapper {
    display: grid;
    gap: 1rem;
    margin: 5.55rem 1.5rem auto;

    @media (min-width: 48rem) {
        margin-top: 5.35rem;
        margin-inline: auto;
        max-width: 33.75rem;
    }

    @media (min-width: 90rem) {
        margin-top: 6.15rem;
        max-width: 69.563rem;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
    }
}
