.main-heading {
    font-size: 1.75rem;
    letter-spacing: -.02rem;
    line-height: 1.30;
    text-align: center;
    margin-block: 0 .65rem;
    color: var(--neutral-100);

    @media (min-width: 48rem) {
        font-size: 3.125rem;
        line-height: 1.15;
        margin-block: 0 1.15rem;
    }

    @media (min-width: 90rem) {
        margin-top: 1.45rem;
        text-align: initial;
    }
}

.main-copy {
    line-height: 1.64;
    text-align: center;
    color: var(--neutral-100);
    margin-block: 1.45rem auto;

    @media (min-width: 48rem) {
        margin-top: 2.2rem;
    }

    @media (min-width: 90rem) {
        text-align: initial;
    }
}
